{
  "env": {
    "build-lib": {
      "presets": [["es2015", { "modules": false }], "react"],
      "plugins": [
        "transform-object-assign"
      ]
    },
    "build-cjs": {
      "presets": ["es2015", "react"],
      "plugins": [
        "transform-object-assign"
      ]
    },
    "test": {
      "presets": ["es2015", "react"],
      "plugins": [
        "rewire"
      ]
    },
    "coverage": {
      "presets": ["es2015"],
      "plugins": [
        "istanbul", "rewire"
      ]
    }
  }
}
